* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #1e202c;
  --nav-content: #adadca;
}

body {
  background: var(--first-color);
}
html {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 60px;
  background: var(--first-color);
  display: flex;
  align-items: center;
}
.logo-container {
  flex: 1;
}
nav {
  flex: 2;
}
.logo-container h3 {
  font-weight: 700;
  color: var(--nav-content);
  font-size: 1.8rem;
  font-family: "Bree Serif", serif;
  padding-left: 1.2rem;
}
.logo-container a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
.nav-link {
  color: var(--nav-content);
  text-decoration-line: none;
  font-weight: 600;
  font-size: 1.2rem;
}
.nav-link:hover {
  border-bottom: 2px solid yellow;
}
.container {
  margin: 0 auto;
  padding: 4rem 4rem;
  width: 90%;
}
.main-content {
  display: flex;
  margin-top: 2rem;
  width: 100%;
}

.header-text {
  flex: 1;
  font-family: "Alata", sans-serif;
  animation: intro 0.9s ease-in;
}
.header-text .intro-info {
  color: rgb(248, 248, 86);
  font-size: 1.4rem;
  font-weight: 200;
  margin: 0 1.2rem;
  padding-left: 0.5rem;
  animation: intro 0.9s infinite ease;
}
.header-text h1 {
  color: rgb(192, 199, 229);
  font-weight: 800;
  font-size: 5.5rem;
  margin: 0 1.2rem;
  padding-left: 0.5rem;
}
.header-text h2 {
  color: #707388;
  font-weight: 700;
  font-size: 2.9rem;
  margin: 0 1.2rem;
  padding-left: 0.5rem;
}
.header-text p {
  color: #acacaf;
  font-size: 1.2rem;
  margin: 0 1.2rem;
  padding-left: 0.5rem;
  max-width: 500px;
  margin-top: 1rem;
}
.contact-me {
  margin-top: 1rem;
}
.get-in-touch {
  border: 1px solid #f8f856;
  display: inline-block;
  outline: none;
  margin: 0 1.2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}
.get-in-touch:hover {
  background: rgb(240, 229, 229);
  color: #000;
}
.About-me {
  display: flex;
  margin-top: 2rem;
  width: 100%;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  flex: 1;
  width: 400px;
  height: 350px;
  background: url("/assets/img/mypic.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border:1px solid #adadca;
  border-radius:10px;
}
.about-details {
  flex: 1;
  width: 400px;
  height: 350px;
}
.about-details p {
  color: #acacaf;
  font-size: 1.2rem;
  margin: 0 1.2rem;
  padding-left: 0.5rem;
  min-width: 200px;
  margin-top: 1rem;
}


/* Animations */
@keyframes intro {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(40px);
  }
}

/* Media queries */
